<section>
  <h1>ngx-super-select</h1>
  <a target="_blank"
     href="https://github.com/HesamKashefi/ngx-super-select"
     class="my-2 d-block">
    Learn more about NgxSuperSelect
  </a>

  <h5>Primitive Type Data:</h5>
  <ngx-super-select [dataSource]="[1,2,3]">

  </ngx-super-select>

  <hr>

  <h5>Object Data:</h5>
  <ngx-super-select [dataSource]="data"
                    [options]="options">

  </ngx-super-select>

  <hr>

  <h5>In the form:</h5>
  <form [formGroup]="form"
        (submit)="onFormSubmit()">
    <ngx-super-select [dataSource]="data"
                      [options]="options"
                      formControlName="names">

    </ngx-super-select>
    <button type="submit"
            class="btn btn-primary my-2">Submit</button>
  </form>

  <hr>

  <h5>Disabled:</h5>
  <ngx-super-select [dataSource]="[1,2,3]"
                    [disabled]="true">

  </ngx-super-select>
  <br>
  <ngx-super-select [dataSource]="[1,2,3]"
                    [disabled]="true"
                    [options]="{ enableDarkMode: true }">

  </ngx-super-select>

  <hr>

  <h5>Disabled Options:</h5>
  <ngx-super-select [dataSource]="[1,2,3]"
                    [selectedItemValues]="[2]"
                    [disabledItemValues]="[2]">

  </ngx-super-select>
  <br>
  <ngx-super-select [dataSource]="[1,2,3]"
                    [disabledItemValues]="[2]"
                    [options]="{ enableDarkMode: true }">

  </ngx-super-select>

  <hr>



  <h5>Dark Mode:</h5>
  <ngx-super-select [dataSource]="[1,2,3]"
                    [options]="{ enableDarkMode: true }">

  </ngx-super-select>

  <hr>

  <h5>Single Selection Mode:</h5>
  <form [formGroup]="formSingleMode"
        (submit)="onFormSingleModeSubmit()">

    <ngx-super-select formControlName="item"
                      [dataSource]="[1,2,3]"
                      [options]="formSingleModeOptions"
                      [disabled]="true">

    </ngx-super-select>

    <button type="submit"
            class="btn btn-primary my-2">Submit</button>
  </form>
</section>